[submodule "ecsim"]
	path = ecsim
	url = https://github.com/system76/ecsim.git
	branch = master
[submodule "ecflash"]
	path = ecflash
	url = https://github.com/system76/ecflash.git
	branch = master
[submodule "ecspy"]
	path = ecspy
	url = https://github.com/system76/ecspy.git
