# SPDX-License-Identifier: CC0-1.0
# SPDX-FileCopyrightText: NONE

[submodule "ecsim"]
	path = tools/ecsim
	url = https://github.com/system76/ecsim.git
	branch = master
[submodule "ecflash"]
	path = tools/ecflash
	url = https://github.com/system76/ecflash.git
	branch = master
[submodule "ecspy"]
	path = tools/ecspy
	url = https://github.com/system76/ecspy.git
