# SPDX-License-Identifier: CC0-1.0
# SPDX-FileCopyrightText: NONE

Andrew Rodland <andrew@cleverdomain.org>
Brock Szuszczewicz <brock@szu.email> <brock@system76.com>
Brock Szuszczewicz <brock@szu.email> <bnr@tuta.io>
Carl Richell <carl@system76.com>
Evan Lojewski <github@meklort.com>
Jeremy Soller <jeremy@system76.com> <jackpot51@gmail.com>
Levi Portenier <levi@system76.com>
Tim Crawford <tcrawford@system76.com>
