[package]
name = "system76_ectool"
version = "0.3.0"
edition = "2018"
description = "System76 EC tool"
license = "MIT"
authors = ["Jeremy Soller <jeremy@system76.com>"]
repository = "https://github.com/system76/ec"
documentation = "https://docs.rs/system76_ectool"

[lib]
name = "ectool"

[[bin]]
name = "system76_ectool"
required-features = ["std", "hidapi"]

[dependencies]
clap = "2"
libc = { version = "0.2", optional = true }
hidapi = { version = "1.2", default-features = false, features = ["linux-static-hidraw"], optional = true }
redox_hwio = { version = "0.1.3", optional = true }
downcast-rs = { version = "1.2.0", default-features = false }

[features]
default = ["std", "hidapi"]
std = ["libc", "downcast-rs/std"]

[package.metadata.docs.rs]
all-features = true
